<!DOCTYPE html>
<html>
    <head>
        <title>Eardle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vexflow@5.0.0-alpha.4/build/cjs/vexflow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tone@14.8.39/build/Tone.js"></script>
    </head>
    <body>
        <header class="heading">
            <img src="/images/trebel-clef.webp" alt="Double Eighth Note" style="width: 60px; height: auto;">
            <img src="/images/2eighth-low.png" alt="Double Eighth Note" style="width: 45px; height: auto;">
            <p>Eardle</p>
            <img src="/images/eighth-high.png" alt="Double Eighth Note" style="width: 60px; height: auto;">
            <img src="/images/eighth-low.png" alt="Double Eighth Note" style="width: 40px; height: auto;">
        </header>
        <main class = "content">