<%- include('./partials/header') %>
<div class = "home">
    <h1 style="margin-top: 60px;">Choose a Mode!</h1>
    <div class="button-row">
        <a href="/classic" class="mode-button">Classic</a>
        <a href="/familiar" class="mode-button">Familiar</a>
    </div>
    <a href="/sandbox" class="mode-button" style="margin-top: 40px">Sandbox</a>
</div>
<%- include('./partials/footer') %>

<script>
    document.getElementById("classic-button").addEventListener("click", function () {
      window.location.href = "/classic";
    });
  
    document.getElementById("familiar-button").addEventListener("click", function () {
      window.location.href = "/familiar";
    });

    document.getElementById("sandbox-button").addEventListener("click", function () {
        window.location.href = "/sandbox";
      });
</script>