html {
  background-color: rgb(247, 236, 222);
}

body {
  margin: 0;
}

.heading {
  display: flex;
  background: linear-gradient(to right, #73ff8f, #02dc2d);
  flex-direction: row;
  color: white;
  font-size: 60px;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 120px;
  border: 2px solid black;
  gap: 45px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

a {
  color: #00B7FF;
}

.content {
  font-size: 16px;
  color: black;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 8px;
}

h1 {
  font-size: 45px;
  color: white;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
  text-align: center;

}

.staff-container{
  flex-direction: row;
}

.music-container {
  border: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-direction: column;
  margin-bottom: -15px;
}

#staffCanvas {

}

button{
  padding: 10px 20px;
  display: block;
  font-size: 25px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  text-align: center;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listen-button{
  background-color: #ffc74f;
  margin-bottom: 40px;
  margin-top: 5px;
}

#listen-button:hover {
  background-color: #e6b244;
}

#guess-button{
  background-color: #ffc74f;
  margin-bottom: 10px;
}

#guess-button:hover {
  background-color: #e6b244;
}

#sandbox-listen-button{
  background-color: #ffc74f;
  margin-bottom: 40px;
  margin-top: 5px;
}

#sandbox-listen-button:hover {
  background-color: #e6b244;
}

.button-row{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.mode-button {
  background-color: #ffc74f;
  font-size: 35px;
  padding: 10px 20px;
  display: block;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "DynaPuff", serif;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
  text-decoration: none;
}

.mode-button:hover {
  background-color: #e6b244;
}

.tries-guess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.staff-text {
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#rhythm-menu {
  font-size: 14px;
  cursor: pointer;
}
#rhythm-menu .rhythm-option {
  padding: 5px 10px;
}
#rhythm-menu .rhythm-option:hover {
  background-color: #eee;
}